server:
  port: 0

spring:
  application:
    name: tt-auth-service


  # MySQL
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/todaytrend
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  # JPA
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  # RabbitMQ
  rabbitmq:
    host: localhost
    username: guest
    password: guest
    port: 5672

# Eureka
eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://127.0.0.1:8888/eureka # discovery-server
