.mainForm {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem 0 5rem 0;
  position: relative;
}

@keyframes slideIn {
  from {
    width: 30%;
  }
  to {
    width: 100%;
  }
}

.signup_form_account,
.signup_form_userInfo {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
  position: relative;
  padding-bottom: 3rem;
}

.signup_form_account {
  height: 30rem;
}

.signup_email,
.signup_nickname {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 8rem;
  margin-bottom: 3rem;
}
