.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
}

.dropzone__img,
.dropzone__drop {
  width: 20rem;
  height: 30rem;
  padding: 0px;
  border-radius: 1rem;
}

.dropzone__img {
  position: absolute;
  z-index: 9;
  -webkit-tap-highlight-color: white;
}

.dropzone__drop {
  z-index: 10;
  border: 3px solid rgb(100, 100, 100, 0.5);
  box-shadow: 0px 5px 5px;
}

.dropzone__image__buttonBox {
  display: flex;
}
