.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem 2rem 1rem;
}

.section2 {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
}

.section2__signInButton {
}

.nav_section2__notification {
}

.button_logout {
}
