.body {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
}

.textarea {
  width: 20rem;
  height: 15rem;
  border-radius: 1rem;
  padding: 1rem;
  overflow-y: auto;
}
