.modalContainer {
  position: absolute;
  top: 5rem;
  left: 1rem;
  width: 25rem;
  max-height: 20rem;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  border: 2px solid #3d3775;
  border-radius: 1rem;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}
.close {
  position: fixed;
  top: 0.5rem;
  right: 1rem;
  width: 20%;
}
.notification {
  border: 0.05rem solid var(--color-black);
  padding: 0.5rem;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin: 0.1rem;
  position: relative;
}

.profileImage {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
  cursor: pointer;
}
.postImage {
  width: 2rem;
  height: 3rem;
  margin-left: 1rem;
  cursor: pointer;
}
.content {
  font-size: 0.8rem;
}
.created {
  color: var(--color-gray);
}
