.postList {
  display: flex;
  width: fit-content;
  margin-top: 1rem;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
  width: 80rem;
}

.component_body {
  display: flex;
  justify-content: center;
}
