.sidebar {
  background-color: white;
  padding: 1rem;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: 0.3s ease-out 0s;
  border: 3px solid black;
  position: fixed;
  top: 10rem;
  left: 1rem;
  border-radius: 1rem;
}

.sidebar.close {
  left: -5rem;
}

button {
  width: 7rem;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  font-size: 15px;
  cursor: pointer;
}

a {
  text-decoration-line: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 0.8rem;
  color: black;
  border-radius: 1rem;
}

li:hover {
  background-color: rgb(250, 250, 250);
  animation: hover 0.1s ease-in-out 0s;
  animation-fill-mode: forwards;
}
